@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-lexend {
  font-family: "Lexend Deca", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.custom-shadow{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}